name: check
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
permissions:
  contents: read
# Spend CI time only on latest ref
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
defaults:
  run:
    shell: bash
jobs:
  check:
    runs-on: ubuntu-24.04
    steps:
      # install tools
      - run: |
          sudo apt-get install -y shfmt shellcheck lua-check
      # install rust tools
      - uses: taiki-e/install-action@v2.62.57
        with:
          tool: dprint,typos-cli,committed,stylua
      # install npm deps
      - run: npm install --global prettier
      # checkout
      - uses: actions/checkout@v5.0.0
      # install pre-commit
      - uses: actions/setup-python@v6.0.0
        with:
          python-version: 3
      - name: install pre-commit
        run: python -m pip install pre-commit
      - uses: actions/cache@v4.3.0
        with:
          path: ~/.cache/pre-commit
          key: pre-commit|${{ env.pythonLocation }}|${{ hashFiles('.pre-commit-config.yaml') }}
      - run: pre-commit run --show-diff-on-failure --color=always --all-files
